[tmc2208 stepper_x]
uart_pin: PB12
run_current: 0.60
#hold_current: 0.5
sense_resistor: 0.150
#stealthchop_threshold: 999999 # disabled bc it adds a significant amount of positional inaccurracy
interpolate: True

[tmc2208 stepper_y]
uart_pin: PB13
run_current: 0.60
#hold_current: 0.5
sense_resistor: 0.150
#stealthchop_threshold: 999999 # disabled bc it adds a significant amount of positional inaccurracy
interpolate: True

[tmc2208 stepper_z]
uart_pin: PB14
run_current: 0.8
#hold_current: 0.5
sense_resistor: 0.150
#stealthchop_threshold: 999999 # disabled bc it adds a significant amount of positional inaccurracy
interpolate: True

[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ~!PA5

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ~!PA6

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.53
filament_diameter: 1.750
nozzle_diameter: 0.600
